html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#layerList-btn {
    padding: 6 px;
}

div.esri-component.esri-layer-list.esri-widget.esri-widget--panel {
    display: none;
}